# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
pnpm-lock.yaml  # 禁止pnpm锁文件进入仓库:ml-citation{ref="5" data="citationList"}
node_modules/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
